<h2 class='float-left'>Admin Panel</h2>

<ul class="nav nav-pills float-right">
  <li class="nav-item">
    <%= link_to 'Dashboard', blast.admin_path,
                class: "nav-link #{active(blast.admin_path)}" %>
  </li>
</ul>

<div class='clearfix'></div>
<hr>

<div class="row">
  <div class="col-md-6">
    <!--Will show tables with the last changes for each model -->
  </div>
</div>