</div>
<h1>Applicant Applied Job</h1>

<%# @applicantss.each do |applicant| %>
<%# <%debugger%> 
  <h3><%= @applicant.name%><%= @applicant.lastname%></h3>  
  <h3><%= @applicant.city %></h3>
  <h3><%= @applicant.phone %></h3>
  
  <%# end %>
</div>


