<h1>My Post</h1>

<h4><p>TITLE      : <%= @job.title %></p></h4>
<h4><p>COMPANY : <%= @job.company %></p></h4>
<h4><p>Experience     : <%= @job.experience %></p></h4>
<h4><p>Salary  : <%= @job.salary%></p></h4>
