<% if current_user.employer? %>
  <h1>Welcome Employer</h1>
   <% @jobss.each do |job| %>

     <h1><p> <%=link_to job.company, job %> </p></h1>
     <%#debugger%>
    <% end %>

<% else current_user.applicant? %>
<div>  
  <h3>Jobs</h3>

  <% @jobs.each do |job| %>
     <p><%= link_to job.company, job %><p>
  <% end %>

</div>
<% end %>
